# ============================
# EXPO / REACT NATIVE
# ============================

# Web build output
web-build/
dist-web/

# Expo environment types
expo-env.d.ts


# Metro cache / health check
.metro-health-check*

# ============================
# NATIVE FILES (KEYS / CERTS)
# ============================
.kotlin/
*.orig.*

*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# ============================
# DEBUG FILES
# ============================
npm-debug.*
yarn-debug.*
yarn-error.*

# ============================
# LOCAL ENV FILES (frontend only)
# ============================
.env*.local
.env.mobile
.env.web

# ============================
# TYPESCRIPT CACHE
# ============================
*.tsbuildinfo

# ============================
# GENERATED NATIVE FOLDERS
# (only if using expo prebuild)
# ============================
ios/
android/

# ============================
# EXTRA
# ============================
app-example
.DS_Store
node_modules
